services:
  postgres:
    image: postgres:15-alpine
    container_name: myfinance-db
    environment:
      - POSTGRES_DB=myfinance
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: